*{
    padding: 0;
    margin-right: 0;
}
body {
    background: url(87399.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: rgb(227, 191, 227);
    border-radius: 10px;
}
.label{
    padding: 20px 130px;
    font-size: 30px;
    font-weight: bold;
    color: #130f40;
}
.login_form{
    padding: 20px 40px;
}
.login_form .font{
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}
.login_form input{
    height: 35px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid rgb(151, 44, 151);
    background:rgb(227, 191, 227);
}
.login_form .font2{
    margin-top: 30px;
}
.login_form button{
    margin: 7px 0 -1px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background:rgb(151, 44, 151);
    border-radius: 50px;
    border: 1px solid #3949AB;
    transition: .5s;
}
.login_form button:hover{
    background: hsl(304, 67%, 25%);
}
.emailText,
.passText{
	display: block;
	font-weight: 500;
	padding: 5px;
}
label.valid .emailText,
label.valid .passText{
	color: #2ca52c;
}
label.invalid .emailText,
label.invalid .passText{
	color: #f00;
}
label.valid::before,
label.invalid::before{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: 18px;
	right: 5px;
	z-index: 100;
}
label.valid::before{
	background: url(check.svg)no-repeat center /cover;
}
label.invalid::before{
	background: url(error.png)no-repeat center /cover;
}